event_route[qos:terminate_dialog] {
    #Includes as AVPs callId, fromTag and toTag
    #the fake message includes the identifier
    xlog("L_INFO","Transport plane or Timeout event happend for a dialog with callid $avp(callID)\n");
    #need to generate BYEs or CANCELs for this dialog
    $dlg(callid) = $avp(callID);
    $dlg(to_tag) = $avp(toTag);
    $dlg(from_tag) = $avp(fromTag);
    dlg_bye("all");
    #If this call doesn't work then need to create the BYEs with the tm module
    #t_uac_send(method, ruri, nexthop, socket, headers, body)
    #  t_uac_send("OPTIONS", "sip:alice@kamailio.org", "", "",
    # "From: bob@kamailio.org;tag=2w3e\r\nTo: bob@kamailio.org", "");
    exit;
}

event_route[qos:asr_registration] {
#Includes the AOR of registration in the From of the fake message created for this event
    xlog("L_INFO","ASR received for registration of [$fd]\n");
    exit;
}

event_route[qos:asr_call] {
#Includes as AVPs callId, fromTag and toTag
#the fake message includes the identifier
    xlog("L_INFO","ASR received for call with call-id $avp(callId)\n");
    #Need to terminate this call, but it could be done in the terminate_dialog event
    $dlg(callid) = $avp(callID);
    $dlg(to_tag) = $avp(toTag);
    $dlg(from_tag) = $avp(fromTag);
    dlg_bye("all"); 
    exit;
}

event_route[qos:rar_access_network] {
#includes as AVPs RxSessionId, anci, pani, visited_net
#the idea would be to store the PANI in the usrloc
    xlog("L_INFO","Received a RAR for [$fd] in session $avp(RxSessionId) with PANI $avp(pani)\n");
    exit;
}